{% extends 'base_layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="lead">
        <p>
            <strong>ID: </strong>{{message.sid}}
        </p>
        <br>
        <p>
            <strong>Text: </strong>{{message.body}}
        </p>
        <br>
        <p>
            <strong>Date: </strong>{{message.date_sent}}
        </p>
        <br>
    </div>
    <div>
            <form class="" action="{% url 'sms:delete' message.sid %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
    </div>

    <p class="m-2"><a href="/sms/">Back to SMS</a></p>
</div>
{% endblock %}