{% extends 'base_layout.html' %}
{% block content %}
<div class="container-fluid">

    {% if number == 1 %}
    <div class="lead text-center font-weight-bold">Currently you have {{number}} note from SMS</div>
    {% else %}
    <div class="lead text-center font-weight-bold">Currently you have {{number}} notes from SMS</div>
    {% endif %}

<br>

    <div class="container">
        {% for message in messages %}
        <div class=".d-inline-block border p-3 m-3">
            <div class="text-center">
                <a href="{% url 'sms:detail' message.sid %}">{{message.date_sent}}</a>
                <!--<div class="m-3">{{message.body}}</div>-->
                <div class="">From: {{message.from_}}</div>
            </div>

            <form class="m-3 text-center" action="delete" method="post">
                {% csrf_token %}
                <input type="hidden" name="message_sid" value="{{ message.sid }}">
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>

        {% endfor %}
    </div>
</div>
{% endblock %}