<!DOCTYPE html>
<html lang="en">

<head>
	<title>SMS</title>
	<meta charset="utf-8" />
</head>

<body class="body" style="background-color:f6f6f6#">
        <h1 style="text-align:center">Notes from SMS:</h1>
        <br>
        <div class="container-fluid">
            {% for message in messages %}
            <li><div class="col-md-3" >Date: {{message.date_sent}}</div></li>
            <div class="col-md-7" >Text: {{message.body}}</div>
            <div class="col-md-7" >From: {{message.from_}}</div>
            {% endfor %}

        </div>
</body>