{% extends 'base_layout.html' %}
{% block content %}
<div class="container-fluid text-center bold">
    <div class="row">
        <div class="col-6 border-right">
            <p class="lead">Latest web note:</p>
            <p class="display-4">{{latest_note}}</p>
            <div class="lead"><a href="/notes/">See full list</a></div>
        </div>
        <div class="col-6">
            <p class="lead">Latest SMS:</p>
            <div class="display-4">
            {{latest_sms|date:'Y M d, H:i'}}
            </div>

            <div class="lead"><a href="/sms/">See full list</a></div>
        </div>
    </div>
</div>

{% endblock %}