{% extends 'base_layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="lead">
        <h3>{{note.title}}</h3>
        <br>
        <p><strong>Text</strong>: {{note.text}}</p>
        <br>
        <p><strong>Date: </strong>{{note.date}}</p>
        <br>
    </div>
    <div class="row">
        <div class="m-2">
            <form action="edit" method="get">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Edit</button>
            </form>

        </div>
        <div class="m-2">
            <form action="delete" method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Delete</button>
            </form>
        </div>
    </div>
    <p><a href="/notes/">Back to Notes</a></p>
</div>


{% endblock %}