{% extends 'base_layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
<!--List existing notes-->

    <div class="col-6 border-right text-center">
        {% if number == 1 %}
        <div class="lead font-weight-bold">Currently you have {{number}} note </div>
        {% else %}
        <div class="lead font-weight-bold">Currently you have {{number}} notes </div>
        {% endif %}
        <br>
        <br>

        <div class="container">
            <ul class="list-unstyled">
                {% for note in all_notes %}
                <div class="border p-3">
                    <li><a href="{% url 'notes:detail' note.id %}">{{note.title}}</a></li>
                    <p>{{note.date}}</p>
                    <form class="m-2" action="{{note.id}}/delete" method="post">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </div>
                <br>
                {% endfor %}
            </ul>
        </div>
    </div>
<!-- A box to enter new motes -->
    <div class="col-6 text-center">
        <div class="lead font-weight-bold">Enter a new note here:</div>
        <br>
        <br>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
</div>
</div>



{% endblock %}