[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=opshrus
WorkingDirectory=/home/opshrus/sites/SITENAME/source
ExecStart=/home/opshrus/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    todo.wsgi:application

[Install]
WantedBy=multi-user.target

